@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  li {
      @apply px-4;
      @apply cursor-pointer;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff23;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999;
}

input:-webkit-autofill {
  background-color: #add8e6 !important; /* Set the background color */
}

/* Original CSS styles */
/* .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
} */

/* .switch input {
  opacity: 0;
  width: 0;
  height: 0;
} */

/* .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
} */

/* .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
} */

/* input:checked + .slider {
  background-color: #1D4ED8;
} */

/* input:focus + .slider {
  box-shadow: 0 0 1px #1D4ED8;
} */

/* input:checked + .slider:before {
  transform: translateX(26px);
} */

/* Rounded sliders */
/* .slider.round {
  border-radius: 34px;
} */

/* .slider.round:before {
  border-radius: 50%;
} */

/* Tailwind CSS styles */
/* .switch.checked .slider {
  background-color: #1D4ED8;
} */

/* .switch.checked input:checked + .slider:before {
  transform: translateX(26px);
} */
